html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

pre {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 12px !important;
}

.language-javascript {
  width: 100%;
}
